<!DOCTYPE html>
<html>
    <head>
        <title>{{ name }}</title>
        <link rel='stylesheet' href='{{ url_for('static', filename='css/style.css') }}'>
        <link href='https://fonts.googleapis.com/css?family=Roboto:900' rel='stylesheet' type='text/css'>
    </head>
    <body>
        <div id="textbox">
            <h1>404</h1>
            <h2>The webm you are looking for could not be found</h2>
        </div>
    </body>
</html>